body {
  background-color: black;
  color: green;
  font-family: "Kode Mono", monospace;
}

.game-area {
  width: 100%;
  margin: auto;
  border: 3px solid green;
  height: 75vh;
  text-align: center;
  margin: 5px;
}

.input-area {
  display: flex;
  flex-direction: row;
  border: 3px solid green;
  margin: 5px;
  height: 15vh;
  width: 100%;
}

.prompt {
  margin: 0px 3px;
  font-weight: 800;
}

input {
  background-color: black;
  border: none;
  height: 15vh;
  width: 100%;
  color: green;
}
